* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.home {
    height: 100vh;
}

section {
    background-image: url(../img/encanto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}


header {
    height: 80px;
    width: 100%;
    display: flex;

}

@media all and (max-width:992px) {
    header {
        height: 205px;
        width: 100%;
        display: flex;

    }

    nav {
        width: 100%;
        height: 100px;
    }

    .card {
        height: 400px;



    }
}

@media all and (max-width:923px) {
    .card {
        margin-left: 70px;
    }
}

@media all and (max-width:745px) {
    .card {
        margin-left: 10%;
    }

    .res {
        margin-top: 5%;
        margin-left: 5%;
    }

    #btn {
        width: 80%;
        margin-left: 20%;
    }
}

@media all and (max-width:635px) {
    .card {
        margin-left: 23%;
    }
}

@media all and (max-width:555px) {
    .card {
        margin-left: 22%;
    }

    section {

        height: 100%;
    }

    .number {
        display: flex;
        justify-content: center;
        margin-top: 3px;
        font-size: 50px;

    }

    .row {
        display: flex;
        margin-left: 65px;
    }

    .audio {
        padding-top: 20px;
        width: 50%;
        margin-left: 20%;
    }

    .res {
        margin-left: 90px;

    }

    #probar {
        margin-left: 80px;
    }

    #btn {
        width: 70%;
    }


}

@media all and (max-width:412px) {
    .card {
        margin-left: 12%;
    }

    section {

        height: 100%;

    }

    .final {
        margin: 0;
    }

    .number {
        display: flex;
        justify-content: center;
        padding-top: 7%;
        font-size: 50px;
    }

    .caja-res {
        height: 300px;
    }
    .res{
        margin-left: 15%;
    }
    #probar{
        margin-left: 10%;
    }
    #btn{
        margin-left: 0%;
        width: 50%;
        margin-bottom: 5%;
    }
    .audio{
        width: 80%;
        
    }
}
@media all and (max-width:360px){
    .home{
        height: 100%;
    }
    .card{
        padding: 0;
        margin-left: 7%;
    }
    .caja-num{
        margin-left: -7%;
    }
    .res{
        margin-left: 7%;
    }
    #probar{
        margin-left: 2%;
    }
   .caja-res{
       margin-left: -5%;
       width: 100%;
   }
}

.logo {
    height: 80px;
    width: 80px;
    margin-left: 40%;

}

nav {
    width: 100%;
}

.navbar-brand {
    margin-left: 30px;

}


.collapse {
    justify-content: space-around;
}

form {
    padding-top: 10%;
    padding-left: 30%;

}

.nombre {
    height: 30px;

}

ul {
    height: 30px;

}

li {
    margin-right: 40px;
    border: 1px solid rgb(39, 36, 36);
    border-radius: 8px;
    line-height: 9px;
    background-color: aqua;


}

li:hover {
    height: 32px;
    line-height: 15px;
    margin-top: 0.5%;
    background-color: rgba(41, 37, 37, 0.658);
}

a {
    color: black;
}

a:hover {
    color: beige
}

.card {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.card .card-img-top {
    height: 45%;
}

.card .card-body {
    height: 55%;
}

.btn-primary {
    margin: 0 30%;
    width: 40%;
}

.boton1 {
    margin-bottom: -50%;
}

.boton2 {
    margin-bottom: -30%;
}

.boton3 {
    margin-bottom: -10%;
}

/* easy */

.caja {
    margin-top: 10%;
    height: 110px;
    
    background-color: rgba(0, 0, 0, 0.699);
    margin-right: 20%;
}

.number {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    font-size: 50px;

}

.caja-num {
    padding-top: 3%;
    padding-left: 1%;
    border-radius: 100px;
    background-color: rgba(245, 245, 220, 0.712);
    height: 150px;
    width: 250px;
    margin-top: 10%;
    margin-right: 10%;
}

.res {
    font-weight: 700;
    color: azure;
    border-radius: 15px;
}

#btn {
    margin: 5px 55px;
}

.audio {
    margin-left: 8%;
    margin-top: 10%;
   
}

.mensaje {
    font-size: 50px;
    color: darkgreen;
    text-shadow: 2px 2px black;
}